<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Risk of Rain 2 informatiesysteem</h3>
    <p>
      Mijn project is een informatiesysteem voor het spel Risk of Rain 2. Je kunt er characters, items, abilities en
      enemies op zien. Het is voor een gerigstreerde gebruiker ook mogelijk om eigen characters, items, abilities en
      enemies toe te voegen. Voor niet gerigstreerde gebruikers is het niet mogelijk om dit te doen, zij
      kunnen enkel de bestaande entiteiten bekijken.
      <br /><br />
      Abilities bestaan alleen als subdocument op een character. Items daarintegen bestaan ook in hun eigen
      collectie. Gebruikers zijn vrij om items toe te voegen aan hun eigen characters die door andere mensen
      in de community gemaakt zijn, zij kunnen deze echter niet aanpassen of verwijderen. Elke gebruiker kan
      een maximaal van 4 abilities toevoegen aan zijn karakter.
    </p>
    <h4>Toelichting keuze voor MongoDb</h4>
    <p>
      De reden dat ik MongoDb heb gekozen is voornamelijk omdat het een stuk meer flexibiliteit bied dan een
      traditionele relationele database zoals SQL. Mijn keuze was eerst op firestore gevallen omdat ik dat al
      in eerder project gebruikt heb. Het leek mij echter een goed idee om aan de slag te gaan met een
      database waar ik minder ervaring mee heb. MongoDb is ideaal voor een loosely coupled applicatie als
      deze, je kan immers het ontwerp makkelijk aanpassen. Als ik bijvoorbeeld een 'string: Class' aan
      character zou willen toevoegen kan dat makkelijk, zonder dat ik daar op veel plaatsen iets voor aan hoef
      te passen
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/ProfilePic.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Marco Weterings</h5>
        <p class="card-text">Studentnummer: 2145576</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Character</p>
    <ul>
      <li>name: string</li>
      <li>health: number (Limiet: 500)</li>
      <li>basedamage: number (Limiet 120)</li>
      <li>speed: number (Limiet 1)</li>
      <li>abilities: [Ability] (maximaal 4)</li>
      <li>items: [Items]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Ability (subdocument)</p>
    <ul>
      <li>name: string</li>
      <li>description: string</li>
      <li>damage: number (Limiet 250)</li>
      <li>cooldown: number (Limiet 60)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Item</p>
    <ul>
      <li>name: string</li>
      <li>description: string</li>
      <li>tier: string (enum)</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Enemy</p>
    <ul>
      <li>name: string (max 40)</li>
      <li>damage: number (max 200)</li>
      <li>health: number (max 1000)</li>
      <li>weakness: string (enum)</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
    </div>
  </div>
</div>
