<div class="starter-template">
  <h3>Info</h3>
  <p>
    This app is running in <strong>'{{ runningMode }}'</strong> mode. <br />
    Environment API URL: <strong>'{{ apiUrl }}'</strong>.<br />
    Version: <strong>{{ version }}</strong>
  </p>
</div>
