<div class="container">
  <h1>{{ headerTitle }}</h1>
  <form name="formGroup" [formGroup]="myEpicForm" (ngSubmit)="onSaveCharacter(myEpicForm)">
    <div class="form-group">
      <label for="characterName">Name</label>
      <input
        id="characterName"
        type="text"
        class="form-control"
        formControlName="characterName"
        [ngClass]="{
          'is-invalid': myEpicForm.get('characterName').touched && myEpicForm.get('characterName').invalid
        }"
      />
      <div class="invalid-feedback" id="invalidName">Character Name is required (Can't be longer than 10 characters)</div>
    </div>

    <div class="form-group">
      <label for="characterDamage">Damage</label>
      <input
      id="characterDamage"
        type="number"
        class="form-control"
        formControlName="characterDamage"
        [ngClass]="{
          'is-invalid': myEpicForm.get('characterDamage').touched && myEpicForm.get('characterDamage').invalid
        }"
      />
      <div class="invalid-feedback" id="invalidDamage">Damage is required (Has to be a positive value and can't exceed 120)</div>
    </div>

    <div class="form-group">
      <label for="characterHealth">Health</label>
      <input
      id="characterHealth"
        type="number"
        class="form-control"
        formControlName="characterHealth"
        [ngClass]="{
          'is-invalid': myEpicForm.get('characterHealth').touched && myEpicForm.get('characterHealth').invalid
        }"
      />
      <div class="invalid-feedback" id="invalidhealth">Health is required (Has to be a positive value and can't exceed 500)</div>
    </div>

    <div class="form-group">
      <label for="characterSpeed">Speed</label>
      <input
        id="characterSpeed"
        type="number"
        class="form-control"
        formControlName="characterSpeed"
        [ngClass]="{
          'is-invalid': myEpicForm.get('characterSpeed').touched && myEpicForm.get('characterSpeed').invalid
        }"
      />
      <div class="invalid-feedback" id="invalidspeed">Speed is required (Has to be a positive value and can't exceed 2.5)</div>
    </div>

    <button type="submit" class="btn btn-success" id="characterSubmitButton" [disabled]="!myEpicForm.valid">Submit</button>
  </form>
</div>
