<div *ngIf="isAuthenticated" class="wrapper">
  <button
    routerLink="/createitem"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-create"
    mat-raised-button
    color="accent"
  >
    Create item
  </button>
</div>

<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner> </app-loading-spinner>
</div>

<mat-card>
  <app-item-card *ngFor="let item of items | async" [item]="item"></app-item-card>
</mat-card>
