<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner> </app-loading-spinner>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
      <h3>{{ isLoginMode ? 'Log in' : 'Sign up' }}</h3>
      <mat-divider></mat-divider>
      <br>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <br>
        <mat-form-field style="width: 100%; background-color: darkgrey;">
        <input matInput type="email" id="email" class="form-control" ngModel name="email" required email [(ngModel)]="email"  />
        <mat-error style="color: red;">Enter a valid E-mail</mat-error>
      </mat-form-field>
      </div>

      <div class="form-group" *ngIf="!isLoginMode">
        <label for="username">Gebruikersnaam</label>
        <br>
        <mat-form-field style="width: 100%; background-color: darkgrey;">
        <input
          matInput
          type="username"
          id="username"
          class="form-control"
          ngModel
          name="username"
          required
          minlength="5"
          [(ngModel)]="username"/>
        <mat-error style="color: red;">Enter a valid username (at least 6 characters)</mat-error>
      </mat-form-field>
      <br>
      </div>

      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <br>
        <mat-form-field style="width: 100%; background-color: darkgrey;">
        <input
        style="color: purple;"
          matInput
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          [(ngModel)]="password"
        />
        <mat-error style="color: red;">Enter a valid password (at least 6 characters)</mat-error>
      </mat-form-field>
      </div>
      <br>

      <div>
        <button class="btn btn-primary" id="submitbutton" type="submit" [disabled]="!f.valid">
          {{ isLoginMode ? 'Log in' : 'Sign up' }}
        </button>
        |
        <button class="btn btn-primary" (click)="onSwitch()" type="button">
          Switch to {{ isLoginMode ? 'Sign up' : 'Log in' }}
        </button>
      </div>

    </form>
  </div>
</div>
