<mat-card class="mat-card-margin" *ngIf="!destroyed">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/1477179.png" />
      </div>
      <mat-card-title class="mat-card-title"
        >{{ enemy?.name | uppercase }}
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle"
        >This enemy is weak to <b>{{ enemy?.weakness }}</b> items</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button *ngIf="isAuthenticated" mat-button color="basic" (click)="onDetails(enemy?._id)">
        Details
      </button>

      <button mat-button color="basic" *ngIf="enemy?.userId.id === userId" (click)="onEdit(enemy?._id)">
        Edit
      </button>
      <button mat-button color="warn" *ngIf="enemy?.userId.id === userId" (click)="onDelete(enemy?._id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>
