<h3>Add existing Item to Character</h3>
<form name="formGroup" [formGroup]="myEpicForm" (ngSubmit)="onAddItem(characterId, myEpicForm.value.itemId)">
  <div class="form-group">
    <label for="itemTier">Item Name</label>
    <select class="form-control" formControlName="itemId">
      <option *ngFor="let item of items" [value]="item?._id">{{ item?.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!myEpicForm.valid">Submit</button>
