.example-card {
  max-width: 1000px;
}

.mat-card-margin {
  border: 2px solid grey;
  padding: 30px;
  margin-bottom: 20px;
}

.header-image {
  background-size: cover;
}

.mat-card-madeby {
  color: darkgray;
  float: right;
}
