<mat-card class="mat-card-margin" *ngIf="!destroyed">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/commando.jpg" />
      </div>
      <mat-card-title class="mat-card-title">{{ character?.name | uppercase }} </mat-card-title>
    </mat-card-header>
    <br />
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <h3>Abilities</h3>
      <button
        mat-button
        color="basic"
        *ngIf="character?.userId.id === userId && character?.abilities.length < 4"
        (click)="onCreateAbility(character?._id)"
      >
        Create new Ability
      </button>
      <div *ngIf="character?.abilities.length == 0">
        <mat-card style="background-color: lightgray">
          <li style="font-weight: bold">This character does not yet have any abilities</li>
        </mat-card>
      </div>
      <div *ngFor="let abilities of character?.abilities">
        <mat-card style="background-color: lightgray" *ngIf="!abilityDestroyed">
          <li style="font-weight: bold">{{ abilities?.name }}</li>
          <div style="font-style: italic">{{ abilities?.description }}</div>
          <mat-card-actions>
          <button
            mat-button
            color="basic"
            style="border-width: 15px"
            *ngIf="abilities?.userId === userId"
            (click)="onEditAbility(character?._id, abilities?._id)"
          >
            Edit
          </button>
          <button
            mat-button
            color="basic"
            *ngIf="abilities?.userId === userId"
            (click)="onDeleteAbility(character?._id, abilities?._id)"
          >
            Delete
          </button>
        </mat-card-actions>
        </mat-card>
        <br />
      </div>
      <h3>Items</h3>
      <button
        mat-button
        color="basic"
        *ngIf="character?.userId.id === userId"
        (click)="onCreateItem(character?._id)"
      >
        Create a new Item
      </button>
      <button
        mat-button
        color="basic"
        *ngIf="character?.userId.id === userId"
        (click)="onAddItem(character?._id)"
      >
        Add existing Item
      </button>
      <div *ngIf="character?.items.length == 0">
        <mat-card style="background-color: lightgray">
          <li style="font-weight: bold">This character does not yet have any items</li>
        </mat-card>
      </div>

      <div *ngFor="let item of character?.items">

        <mat-card style="background-color: lightgray" *ngIf="!itemDestroyed">
          <li style="font-weight: bold">{{ item?.name }}</li>
          <div style="font-style: italic">{{ item?.description }}</div>
          <mat-card-actions>
          <button
            mat-button
            color="basic"
            style="border-width: 15px"
            *ngIf="item?.userId === userId"
            (click)="onEditItem(item?._id)"
          >
            Edit
          </button>
          <button
            mat-button
            color="basic"
            *ngIf="item?.userId === userId"
            (click)="onDeleteItemCompletely(item?._id)"
          >
            Delete
          </button>
          <button
            mat-button
            color="basic"
            *ngIf="character?.userId.id === userId"
            (click)="onDeleteItem(character?._id,item?._id)"
          >
            Delete from Character
          </button>
        </mat-card-actions>
        </mat-card>
        <br />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isAuthenticated" mat-button color="basic" (click)="onDetails(character?._id)">
        Details
      </button>
      <button
        mat-button
        color="basic"
        *ngIf="character?.userId.id === userId"
        (click)="onEdit(character?._id)"
      >
        Edit
      </button>
      <button
        mat-button
        color="warn"
        *ngIf="character?.userId.id === userId"
        (click)="onDelete(character?._id)"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="mat-card-madeby">Gemaakt door: {{ character?.userId.username }}</div>
</mat-card>
