<div *ngIf="isAuthenticated" class="wrapper">
  <button
    routerLink="/createEnemy"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-create"
    mat-raised-button
    color="accent"
  >
    Create Enemy
  </button>
</div>

<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner> </app-loading-spinner>
</div>

<mat-card>
  <app-enemy-card *ngFor="let enemy of enemies | async" [enemy]="enemy"></app-enemy-card>
</mat-card>
