<div>
<button mat-button color="basic" (click)="onBack()">Back</button>
<br>
</div>
<mat-card class="mat-card-margin">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/commando.jpg" />
      </div>
      <mat-card-title class="mat-card-title">{{ character?.name | uppercase }} </mat-card-title>
    </mat-card-header>
    <br />
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <h3>Character stats</h3>
      <p><b>Health: </b> {{ character?.health }}</p>
      <p><b>Damage: </b> {{ character?.basedamage }}</p>
      <p><b>Speed: </b> {{ character?.speed }} x</p>

      <h3>Abilities</h3>
      <div *ngIf="character?.abilities.length == 0">
        <mat-card style="background-color: lightgray">
          <li style="font-weight: bold">This character does not yet have any abilities</li>
        </mat-card>
      </div>
      <div *ngFor="let abilities of character?.abilities">
        <li>
          <b>{{ abilities?.name }}:</b> {{ abilities?.description }}
          <br />
          <div style="font-style: italic">
            "This Ability does <b>{{ abilities?.damage }}</b> damage and has a cooldown of
            <b>{{ abilities?.cooldown }}</b> seconds"
          </div>
        </li>
        <br />
      </div>
      <br />
      <h3>Items</h3>
      <div *ngIf="character?.items.length == 0">
        <mat-card style="background-color: lightgray">
          <li style="font-weight: bold">This character does not yet have any items</li>
        </mat-card>
      </div>
      <div *ngFor="let items of character?.items">
        <li>
          <b>{{ items?.name }}:</b>
          <div style="font-style: italic">{{ items?.description }}</div>
          <div><b>Tier: </b>{{ items?.tier }}</div>
        </li>
      </div>
    </mat-card-content>
    <div class="mat-card-madeby">Gemaakt door: {{ character?.userId.username }}</div>
  </mat-card>
</mat-card>
