<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: rgb(34, 31, 48)">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><img src="../../../assets/images/rorlogo.png" style="max-width: 200px"
    /></a>
    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="characters"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Characters</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="items"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Items</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="enemies"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Enemies</a
          >
        </li>
        <li class="nav-item"></li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="about"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="userdetails"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Account</a
          >
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link" id="logoutbutton" (click)="onLogout()">Logout</a>
        </li>
      </ul>


      <ul class="navbar-nav" *ngIf="!isAuthenticated">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="auth"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
