<div>
  <button mat-button color="basic" (click)="onBack()">Back</button>
  <br>
  </div>
  <mat-card class="mat-card-margin">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <img mat-card-image src="../../../assets/images/item.jpeg" />
        </div>
        <mat-card-title class="mat-card-title" style="color:{{ item?.tier }}">{{ item?.name | uppercase }} </mat-card-title>
      </mat-card-header>
      <br />
      <mat-divider></mat-divider>
      <mat-card-content>
        <p><b>Description: </b> {{ item?.description }}</p>
        <p><b>Tier: </b> {{ item?.tier }}</p>
      </mat-card-content>
      <div class="mat-card-madeby">Gemaakt door: {{ item?.userId.username }}</div>
    </mat-card>
  </mat-card>
