<div class="container">
  <h1>{{ headerTitle }}</h1>
  <form name="formGroup" [formGroup]="myEpicForm" (ngSubmit)="onSaveitem(myEpicForm)">
    <div class="form-group">
      <label for="itemName">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="itemName"
        [ngClass]="{ 'is-invalid': myEpicForm.get('itemName').touched && myEpicForm.get('itemName').invalid }"
      />
      <div class="invalid-feedback">Item Name Is Required (And can't exceed 40 Characters)</div>
    </div>

    <div class="form-group">
      <label for="itemDescription">Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="itemDescription"
        [ngClass]="{
          'is-invalid': myEpicForm.get('itemDescription').touched && myEpicForm.get('itemDescription').invalid
        }"
      />
      <div class="invalid-feedback">Description Is Required</div>
    </div>

    <div class="form-group">
      <label for="itemTier">Tier</label>
      <select class="form-control" formControlName="itemTier">
        <option *ngFor="let tier of tiers" [value]="tier">{{ tier }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!myEpicForm.valid">Submit</button>
  </form>
</div>
