<mat-card class="mat-card-margin">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../assets/images/person.jpg" />
      </div>
      <mat-card-title class="mat-card-title"
        >{{ username | uppercase }}
      </mat-card-title>
    </mat-card-header>
    <br />
    <mat-divider></mat-divider>
      <mat-card-content>
      <h2>About you...</h2>
      <mat-card-subtitle>
      <li>Your emailadress is <b>{{ email }}</b></li>
      <li>You have been a member since <b>{{ createdDate | date: 'dd/MM/yyyy'}}</b></li>
      <li>You have made a total of <b>{{(characters | async)?.length}}</b> character(s)</li>
      <li>You have made a total of <b>{{(items | async)?.length}}</b> item(s)</li>
      <li>You have made a total of <b>{{(enemies | async)?.length}}</b> enemies</li>
    </mat-card-subtitle>
  </mat-card-content>
  </mat-card>
</mat-card>
