<div class="container">
  <h1>{{ headerTitle }}</h1>
  <form name="formGroup" [formGroup]="myEpicForm" (ngSubmit)="onSaveEnemy(myEpicForm)">
    <div class="form-group">
      <label for="enemyName">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="enemyName"
        [ngClass]="{ 'is-invalid': myEpicForm.get('enemyName').touched && myEpicForm.get('enemyName').invalid }"
      />
      <div class="invalid-feedback">Enemy Name Is Required (And can't exceed 40 Characters)</div>
    </div>

    <div class="form-group">
      <label for="enemyHealth">Health</label>
      <input
        type="number"
        class="form-control"
        formControlName="enemyHealth"
        [ngClass]="{
          'is-invalid': myEpicForm.get('enemyHealth').touched && myEpicForm.get('enemyHealth').invalid
        }"
      />
      <div class="invalid-feedback">Health Is Required (can't exceed 1000)</div>
    </div>

    <div class="form-group">
      <label for="enemyDamage">Damage</label>
      <input
        type="text"
        class="form-control"
        formControlName="enemyDamage"
        [ngClass]="{
          'is-invalid': myEpicForm.get('enemyDamage').touched && myEpicForm.get('enemyDamage').invalid
        }"
      />
      <div class="invalid-feedback">Damage Is Required (can't exceed 200)</div>
    </div>

    <div class="form-group">
      <label for="enemyWeakness">Weakness</label>
      <select class="form-control" formControlName="enemyWeakness">
        <option *ngFor="let tier of tiers" [value]="tier">{{ tier }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!myEpicForm.valid">Submit</button>
  </form>
</div>
