<button mat-button color="basic" (click)="onBack()">Back</button>
<br>
<mat-card class="mat-card-margin">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/1477179.png" />
      </div>
      <mat-card-title>{{ enemy?.name | uppercase }} </mat-card-title>
    </mat-card-header>
    <br />
    <mat-divider></mat-divider>
    <mat-card-content>
      <br />
      <h3>Enemy stats</h3>
      <p><b>Health: </b> {{ enemy?.health }}</p>
      <p><b>Damage: </b> {{ enemy?.damage }}</p>
      <p><b>Weakness: </b> This enemy is weak to <b>{{ enemy?.weakness }}</b> items</p>
    </mat-card-content>
    <div class="mat-card-madeby">Gemaakt door: {{ enemy?.userId.username }}</div>
  </mat-card>
</mat-card>
