<mat-card class="mat-card-margin" *ngIf="!destroyed">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img mat-card-image src="../../../assets/images/item.jpeg" />
      </div>
      <mat-card-title class="mat-card-title" style="color: {{ item?.tier }};"
        >{{ item?.name | uppercase }}
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle"
        ><b>Description:</b>"{{ item?.description }}"</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button *ngIf="isAuthenticated" mat-button color="basic" (click)="onDetails(item?._id)">
        Details
      </button>
      <button mat-button color="basic" *ngIf="item?.userId.id === userId" (click)="onEdit(item?._id)">
        Edit
      </button>
      <button mat-button color="warn" *ngIf="item?.userId.id === userId" (click)="onDelete(item?._id)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</mat-card>
