<div class="container">
  <h1>{{ headerTitle }}</h1>

  <form name="formGroup" [formGroup]="myEpicForm" (ngSubmit)="onSaveAbility(myEpicForm)">
    <div class="form-group">
      <label for="abilityName">Name</label>
      <input
        id="abilityNameInput"
        type="text"
        class="form-control"
        formControlName="abilityName"
        [ngClass]="{
          'is-invalid': myEpicForm.get('abilityName').touched && myEpicForm.get('abilityName').invalid
        }"
      />
      <div class="invalid-feedback" id="nameInvalid">Ability Name is required (Can't be longer than 20 characters)</div>
    </div>

    <div class="form-group">
      <label for="abilityDescription">Description</label>
      <input
        id="abilityDescriptionInput"
        type="text"
        class="form-control"
        formControlName="abilityDescription"
        [ngClass]="{
          'is-invalid':
            myEpicForm.get('abilityDescription').touched && myEpicForm.get('abilityDescription').invalid
        }"
      />
      <div class="invalid-feedback" id="descriptionInvalid">Description is required (Can't be longer than 10 characters)</div>
    </div>

    <div class="form-group">
      <label for="abilityDamage">Damage</label>
      <input
        id="abilityDamageInput"
        type="number"
        class="form-control"
        formControlName="abilityDamage"
        [ngClass]="{
          'is-invalid': myEpicForm.get('abilityDamage').touched && myEpicForm.get('abilityDamage').invalid
        }"
      />
      <div class="invalid-feedback" id="damageInvalid">Damage is required (Has to be a positive value and can't exceed 500)</div>
    </div>

    <div class="form-group">
      <label for="abilityCooldown">Cooldown</label>
      <input
        id="abilityCooldownInput"
        type="number"
        class="form-control"
        formControlName="abilityCooldown"
        [ngClass]="{
          'is-invalid': myEpicForm.get('abilityCooldown').touched && myEpicForm.get('abilityCooldown').invalid
        }"
      />
      <div class="invalid-feedback" id="cooldownInvalid">Cooldown is required (Has to be a positive value and can't exceed 60)</div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!myEpicForm.valid">Submit</button>
  </form>
</div>
