<div *ngIf="isAuthenticated" class="wrapper">
  <button
    routerLink="/createcharacter"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-create"
    mat-raised-button
    color="accent"
    id ="createCharacterButton"
  >
    Create character
  </button>
</div>

<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner> </app-loading-spinner>
</div>

<mat-card>
  <app-character-card
    *ngFor="let character of characters | async"
    [character]="character"
  ></app-character-card>
</mat-card>
