/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-card-title {
  font-size: 30px;
  font-weight: bold;
  text-indent: 30px;
}

.mat-card-subtitle {
  text-indent: 30px;
  font-style: italic;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.mat-card-margin {
  border: 2px solid grey;
  padding: 30px;
  margin-bottom: 20px;
}

.header-image {
  background-size: cover;
}

.mat-card-madeby {
  color: darkgray;
  float: right;
}
