<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3" style="border: 5px; border-color: aqua">
    <br />
    <h3 style="text-align: center" id="welcomeMessage">
      Welkom op het informatiesysteem voor Risk of Rain 2
    </h3>
    <img src="../../assets/images/ror2_logo_512-1.png" style="align-self: center" />
  </div>
  <div class="col-xs-12 col-md-6 offset-md-3">
    <div *ngIf="!isAuthenticated">
      <p style="text-align: center">
        Klik
        <a routerLink="auth" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          >hier</a
        >
        om in te loggen.
      </p>
    </div>
    <div *ngIf="isAuthenticated">
      <p style="text-align: center">
        Klik
        <a routerLink="characters" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          >hier</a
        >
        om naar het character overzicht te gaan.
      </p>
    </div>
  </div>
</div>
